{% extends 'appbuilder/base.html' %}

{% block content %}
    {% include "info_msg.html" %}
    {% include "room_cal.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="/static/ics.min.js"></script>
    <script src="/static/FileSaver.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/locales-all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css">
    <link rel="stylesheet" href="/static/watt.css">
  </head>

  <body onload="inizializza({{anni_corso}})">
    <p class="bg-primary" align="center">PARAMETRI PER LA GENERAZIONE DEL CALENDARIO</p><br>
    <div>
      <div class="panel panel-info">
        <div class="panel-heading">Scegli il corso e l"anno di corso</div>
        <div class="panel-body">
          <select type="date" id="corso_id" name="corso_id" onchange="caricaAnni({{anni_corso}})">
            {% for c in corsi %}
             <option value={{c.corso_id}}>{{c.codice_corso}} - {{c.descrizione_corso}}</option>
            {% endfor %}
          </select>
          <select type="date" id="anno_corso" name="anno_corso"></select>
        </div>
      </div><br>
      <div id="panel-periodo" class="panel panel-info">
        <div class="panel-heading">Imposta la data di avvio e fine delle lezioni</div>
        <div class="panel-body">
          <input type="date" id="data_avvio_lezioni" data-date-format="DD MM YYYY" onchange="aggiorna_data_fine({{chiusure}})">
          <input type="date" id="data_fine_lezioni">
        </div>
      </div><br>
      <button type="button" id="genera_calendario" onclick="caricaOrario(false)" class="btn bg-primary">Genera calendario per il corso selezionato</button><br><br>
      <input type="checkbox" name="chk_modifica" id="chk_modifica" value="1">
      <label for = "chk_modifica">
          Abilita modalità modifica schema orario settimanale
      </label>
    </div><br>
    <div id="loader" class="loader" style="display:none"></div>
    <div>
      <p class="bg-primary" align="center">CALENDARIO</p><br>
      <div id="calendar" name="calendar"></div><br>
    </div>
    <input type="text" id="id_testata" name="id_testata" value="" style="display:none">
    <input type="text" id="id_aula" name="id_aula" value="" style="display:none">
  </body>

</html>

<script>
    function formatDate(date) {
        let d = new Date(date),
            month = "" + (d.getMonth() + 1),
            day = "" + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = "0" + month;
        if (day.length < 2)
            day = "0" + day;

        return [year, month, day].join("/");
    }

    function genera_calendario(arrOrario, arrChiusure, modificaFlg) {
      let day = 60 * 60 * 24 * 1000;
      let giorni_settimana = ["Domenica","Lunedì","Martedì","Mercoledì","Giovedì","Venerdì","Sabato"];

      let data_avvio = new Date($("#data_avvio_lezioni").val());
      let data_fine = new Date($("#data_fine_lezioni").val());
      data_avvio.setHours(0);
      data_fine.setHours(0);
      let data_cur = new Date($("#data_avvio_lezioni").val());

      let idc = $("#corso_id option:selected").val();
      let adc = $("#anno_corso option:selected").val();

      let orLen = arrOrario.length;

      let editabile = false;

      if ($('#chk_modifica').is(":checked"))
        editabile = true;

      var calendarEl = document.getElementById("calendar");
      var calendar = new FullCalendar.Calendar(calendarEl, {
          //headerToolbar: { center: "dayGridMonth,timeGridWeek" },
          locale: "itLocale",
          initialDate: data_avvio,
          initialView: "timeGridWeek",
          allDaySlot: false,
          displayEventTime: false,
          editable: editabile,
          eventDurationEditable: false,
          eventOverlap: false,
          slotMinTime: "09:00:00",
          slotMaxTime: "18:00:00",
          slotDuration: '00:60:00',
          height: 720,
          expandRows: true,
          eventDidMount: function(info) {
            $(info.el).popover({
              title: info.event.title,
              placement: "top",
              trigger: "hover",
              content: info.event.extendedProps.descrizione,
              background:"#FFF000",
              container: "body",
              html: true
            });
          },
          eventClick: function(info) {
            if (info.event.extendedProps.giorno_id>-1)
              gestione_cambio_aula(info.event, info.event, calendar)
          },
          eventDragStop: function(info) {
            $(".popover").remove();
          },
          eventDrop: function(info) {
            modificaEventoInOrario(info.oldEvent, info.event, info.event.extendedProps.aula_id);
          },
          buttonText:
          {
            today: "oggi",
            month: "mese",
            week: "settimana",
            day: "giorno",
            list: "lista",
            prev: "prec",
            next: "succ"
          },
          customButtons: {
            verifyButton: {
              text: "Verifica vincoli",
              click: function() {
                verificaOrario(editabile);
              }
            },
            applyButton: {
              text: "Applica modifiche orario",
              click: function() {
                applicaModificaOrario(editabile);
              }
            },
            jsonButton: {
              text: "Download Json",
              click: function() {
                download(JSON.stringify(Object.assign({}, calendar.getEvents())), "calendar.json", "application/json");
              }
            },
            iCalButton: {
              text: "Download iCal",
              click: function() {
                let evs = calendar.getEvents();
                let cal = ics();
                for (e in evs)
                {
                  if (evs[e].extendedProps.giorno_id>-1)
                    cal.addEvent(evs[e].title, evs[e].title, evs[e].title, evs[e].start, evs[e].end);
                }
                cal.download("cal");
              }
            }
          },
          headerToolbar: {
            left: "verifyButton applyButton",
            center: "title",
          },
          footerToolbar: {
            right: "jsonButton iCalButton",
          }
      });

      data_cur.setTime(data_cur.getTime()-day);
      while (data_cur < data_fine) {
        let new_date = data_cur.setTime(data_cur.getTime()+day);
        data_cur = new Date(new_date);
        if ((modificaFlg==false) && (arrChiusure.includes(formatDate(data_cur)))) {
          calendar.addEvent({
            title: "",
            start: data_cur.setHours("09"),
            end: data_cur.setHours("19"),
            displayEventTime: false,
            editable: false,
            color: "#FFCCCC",
            textColor: "#000000",
            descrizione: "Chiusura",
            numerosita: 0,
            giorno_id: -1,
            slot_id: -1,
            corso_id: -1,
            modulo_id: -1,
            aula_id: -1
          });
        }
        else if (data_cur.getDay() == 0 || data_cur.getDay() == 6) {
           calendar.addEvent({title: "",
                              start: data_cur.setHours("09"),
                              end: data_cur.setHours("19"),
                              displayEventTime: false,
                              editable: false,
                              color: "#DDDDDD",
                              textColor: "#000000",
                              descrizione: "Lezioni non previste",
                              numerosita: 0,
                              giorno_id: -1,
                              slot_id: -1,
                              corso_id: -1,
                              modulo_id: -1,
                              aula_id: -1
                              });
        }
        else {
          for (let i=0; i<orLen; i++) {
            if (arrOrario[i].corso_id==idc && arrOrario[i].anno_corso==adc) {
              let titolo_evento = "["+arrOrario[i].codice_attivita + "] - " + arrOrario[i].descrizione_attivita + " "
                                     +arrOrario[i].descrizione_modulo + " # " + arrOrario[i].aula;
              if (arrOrario[i].giorno == giorni_settimana[data_cur.getDay()]) {
                ora_inizio = arrOrario[i].descrizione_slot.substring(0, 2);
                ora_fine = arrOrario[i].descrizione_slot.substring(6, 8);
                calendar.addEvent({
                  title: titolo_evento,
                  displayEventTime: true,
                  displayEventEnd: true,
                  start: data_cur.setHours(ora_inizio),
                  end: data_cur.setHours(ora_fine),
                  color: arrOrario[i].colore_attivita,
                  borderColor: "#000000",
                  textColor: "#FFFFFF",
                  descrizione: "<b>" + arrOrario[i].descrizione_attivita + "</b><br>"
                          + "<i>" + arrOrario[i].cognome_docente + " " + arrOrario[i].nome_docente + "</i>",
                  numerosita: arrOrario[i].numerosita_modulo,
                  giorno_id: arrOrario[i].giorno_id,
                  slot_id: arrOrario[i].slot_id,
                  corso_id: arrOrario[i].corso_id,
                  modulo_id: arrOrario[i].modulo_id,
                  aula_id: arrOrario[i].aula_id
                });
              }
            }
          }
          calendar.addEvent({
              title: "",
              start: data_cur.setHours("13"),
              end: data_cur.setHours("14"),
              displayEventTime: false,
              editable: false,
              color: "#DDDDDD",
              textColor: "#000000",
              descrizione: "Pausa lezioni",
              numerosita: 0,
              giorno_id: -1,
              slot_id: -1,
              corso_id: -1,
              modulo_id: -1,
              aula_id: -1
          });
        }
      }
      calendar.render();
    }

    function download(content, fileName, contentType) {
      let a = document.createElement("a");
      let file = new Blob([content], {type: contentType});
      a.href = URL.createObjectURL(file);
      a.download = fileName;
      a.click();
    }

    function caricaAnni(arrAnni) {
      let idc = $("#corso_id option:selected").val();
      let anLen = arrAnni.length;
      $("#anno_corso").empty();
      for (let i = 0; i < anLen; i++) {
          if (arrAnni[i].corso_id == idc) {
            $("#anno_corso").append(new Option(arrAnni[i].anno_corso, arrAnni[i].anno_corso));
          }
      }
    }

    function modificaEventoInOrario(eventoOld, eventoNew, aulaNew) {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({eventoOld: eventoOld,
                              giornoNew: eventoNew.start.getDay(),
                              slotNew: eventoNew.start.getHours(),
                              aulaNew: aulaNew}),
        dataType: "json",
        url: "/calendarioview/cld_mod/",
        success: function (ris) {
          aggiornaOrario();
        }
      });
    }

    function verificaOrario() {
        $("#loader").css({"display": "block"});
        $.ajax({
          type: "POST",
          contentType: "application/json",
          dataType: "json",
          url: "/calendarioview/cld_ver/",
          success: function (ris) {
            $("#loader").css({"display": "none"});
            $("#info-title").html("Risultato della verifica");
            if (ris["status"] == "Optimal")
              $("#info-msg").html("Orario compatibile con i vincoli impostati");
            else
              $("#info-msg").html("Orario NON compatibile con i vincoli impostati");
            $(document).on("click", "#modal-info-ok", function () {});
            $("#modal-info-w").modal("show");
          }
        });
    }

    function inizializza(arrAnni) {
      caricaAnni(arrAnni);
      let today = new Date();
      $("#data_avvio_lezioni").val(today.getFullYear() + "-" + ("0" + (today.getMonth() + 1)).slice(-2) + "-" + ("0" + today.getDate()).slice(-2));
      $("#data_fine_lezioni").val(today.getFullYear() + "-" + ("0" + (today.getMonth() + 1)).slice(-2) + "-" + ("0" + today.getDate()).slice(-2));
      $("#chk_modifica").prop("checked", false);
      $("#chk_modifica").click(function() {
        if($(this).is(":checked"))
          impostaIntervalloModifica();
        else
          impostaIntervalloIniziale();
      });
    }

    function aggiorna_data_fine(arrChiusure) {
      $("#data_fine_lezioni").val($("#data_avvio_lezioni").val());
    }

    function caricaOrario(modificaFlg) {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/calendarioview/cld_load/",
        success: function (ris) {
          genera_calendario(ris["orario"], ris["chiusure"], modificaFlg);
          $(".popover").remove();
        }
      });
    }

    function aggiornaOrario() {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/calendarioview/cld_upd/",
        success: function (ris) {
          genera_calendario(ris["orario"], ris["chiusure"], true);
          $(".popover").remove();
        }
      });
    }

    function gestione_cambio_aula(eventoOld, eventoNew, calendar) {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          aula: eventoNew.extendedProps.aula_id,
          numerosita: eventoNew.extendedProps.numerosita,
          giorno: eventoNew.extendedProps.giorno_id,
          slot: eventoNew.extendedProps.slot_id
        }),
        dataType: "json",
        url: "/calendarioview/cld_room/",
        success: function (ris) {
          $("#id_aula").val(0);
          aule = ris["aule"];
          $("#room-title").html("Modifica aula");
          $("#aulaSel").empty();
          for (a in aule) {
            $("#aulaSel").append(new Option(aule[a].descrizione + " (" + aule[a].capienza + ")", aule[a].id));
          }
          $("#modal-room-w").modal();
          $("#modal-room-ok").unbind('click');
          $("#modal-room-ok").click(function (event) {
            event.preventDefault();
            modificaEventoInOrario(eventoOld, eventoNew, parseInt($("#aulaSel option:selected").val()));
          });
        }
      });
    }

    function impostaIntervalloModifica(cal) {
      let today = new Date(), anno=today.getFullYear(), mese=today.getMonth();
      primaDomenica=1;
      while (dy = new Date(anno, mese, primaDomenica).getDay() != 0)
        primaDomenica++;
      giorno_inizio = new Date(anno, mese, primaDomenica).getDate();
      giorno_fine = new Date(anno, mese, primaDomenica+7).getDate();
      $("#data_avvio_lezioni").val(anno + "-" + ("0" + (mese + 1)).slice(-2) + "-" + ("0" + giorno_inizio).slice(-2));
      $("#data_fine_lezioni").val(anno + "-" + ("0" + (mese + 1)).slice(-2) + "-" + ("0" + giorno_fine).slice(-2));
      $("#panel-periodo").css({"display": "none"});
      caricaOrario(true);
    }

    function impostaIntervalloIniziale() {
      let today = new Date();
      $("#data_avvio_lezioni").val(today.getFullYear() + "-" + ("0" + (today.getMonth() + 1)).slice(-2) + "-" + ("0" + today.getDate()).slice(-2));
      $("#data_fine_lezioni").val(today.getFullYear() + "-" + ("0" + (today.getMonth() + 1)).slice(-2) + "-" + ("0" + today.getDate()).slice(-2));
      $("#panel-periodo").css({"display": "block"});
      caricaOrario(false);
    }

    function applicaModificaOrario() {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({id_orario: $("#id_testata").val()}),
        dataType: "json",
        url: "/calendarioview/cld_app/",
        success: function (ris) {
            $("#loader").css({"display": "none"});
            $("#info-title").html("Modifica orario");
            $("#info-msg").html("L'orario è stato correttamente salvato secondo le modifiche effettuate in calendario");
            $(document).on("click", "#modal-info-ok", function () {});
            $("#modal-info-w").modal("show");
        }
      });
    }
</script>
	
{% endblock %}