{% extends "appbuilder/base.html" %}

{% block content %}	
	{% include "confirm_msg.html" %}	

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/locales-all.min.js"></script>
    <script src="/static/ics.min.js"></script>
    <script src="/static/FileSaver.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css" rel="stylesheet" />
  </head>

  <body onload="inizializza({{anni_corso}})">
  <p class="bg-primary">PARAMETRI PER LA GENERAZIONE DEL CALENDARIO</p><br>
    <div>
      <div>
        <label for="corso_id">Seleziona il corso di studio:</label>
        <select type="date" id="corso_id" name="corso_id" onchange="caricaAnni({{anni_corso}})">
          {% for c in corsi %}
            <option value={{c.corso_id}}>{{c.codice_corso}} - {{c.descrizione}}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="anno_corso">Seleziona l'anno di corso:</label>
        <select type="date" id="anno_corso" name="anno_corso"></select>
      </div>
      <div>
        <label for="data_avvio_lezioni">Imposta la data di avvio e fine delle lezioni:</label><br>
        <input type="date" id="data_avvio_lezioni" data-date-format="DD MM YYYY" onchange="aggiorna_data_fine({{chiusure}})">
        <input type="date" id="data_fine_lezioni">
      </div><br>
      <button type="button" id="genera_calendario" onclick="genera_calendario({{orario}},{{chiusure}})" class="btn bg-info">Genera calendario per il corso selezionato</button>
    </div><br>
    <p class="bg-primary">CALENDARIO</p><br>
    <div id='calendar'></div>
  </body>

</html>

<script>
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('/');
    }

    function genera_calendario(arrOrario,arrChiusure) {
      let day = 60 * 60 * 24 * 1000;
      let giorni_settimana = ["Domenica","Lunedì","Martedì","Mercoledì","Giovedì","Venerdì","Sabato"];

      let data_avvio=new Date($("#data_avvio_lezioni").val());
      let data_fine=new Date($("#data_fine_lezioni").val());
      data_avvio.setHours(0);
      data_fine.setHours(0);
      let data_cur=new Date($("#data_avvio_lezioni").val());

      let idc=$("#corso_id option:selected").val();
      let adc=$("#anno_corso option:selected").val();
      let orLen=arrOrario.length;

      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
          //headerToolbar: { center: 'dayGridMonth,timeGridWeek' },
          locale:'itLocale',
          initialDate:data_avvio,
          initialView:'timeGridWeek',
          allDaySlot: false,
          displayEventTime:false,
          eventOverlap:false,
          editable:true,
          slotMinTime:"09:00:00",
          slotMaxTime:"18:00:00",
          height:720,
          expandRows:true,
          eventDidMount: function(info) {
            $(info.el).popover({
              title: info.event.title,
              placement: 'top',
              trigger: 'hover',
              content: info.event.extendedProps.description,
              background:'#FFF000',
              container: 'body',
              html: true
            });
          },
          eventDragStop: function() {
            $(".popover").remove();
          },
          buttonText:
          {
            today:'oggi',
            month:'mese',
            week:'settimana',
            day:'giorno',
            list:'lista',
            prev:'prec',
            next:'succ'
          },
          customButtons: {
            jsonButton: {
              text: 'Download Json',
              click: function() {
                download(JSON.stringify(Object.assign({}, calendar.getEvents())), 'calendar.json', 'application/json');
              }
            },
            iCalButton: {
              text: 'Download iCal',
              click: function() {
                var evs = calendar.getEvents();
                var cal = ics();
                for (e in evs)
                {
                  cal.addEvent(evs[e].title, evs[e].title, evs[e].title, evs[e].start, evs[e].end);
                }
                cal.download('cal');
              }
            }
          },
          headerToolbar: {
            left: 'jsonButton iCalButton',
            center: 'title',
          }
      });

      data_cur.setTime(data_cur.getTime()-day);
      while (data_cur < data_fine) {
        let new_date = data_cur.setTime(data_cur.getTime()+day);
        data_cur = new Date(new_date);
        if (arrChiusure.includes(formatDate(data_cur))) {
          calendar.addEvent({
            title: "",
            start: data_cur.setHours("09"),
            end: data_cur.setHours("19"),
            displayEventTime: false,
            editable: false,
            color: '#FFCCCC',
            textColor: '#000000',
            description: 'Chiusura'
          });
        }
        else if (data_cur.getDay()==0 || data_cur.getDay()==6) {
           calendar.addEvent({title:"",
                              start:data_cur.setHours("09"),
                              end:data_cur.setHours("19"),
                              displayEventTime:false,
                              editable:false,
                              color:'#DDDDDD',
                              textColor:'#000000',
                              description:'Lezioni non previste'
                              });
        }
        else {
          for (var i=0; i<orLen; i++) {
            if (arrOrario[i].corso_id==idc && arrOrario[i].anno_corso==adc) {
              let titolo_evento = arrOrario[i].codice_attivita + " - " + arrOrario[i].descrizione_modulo + " (" + arrOrario[i].aula + ")";
              if (arrOrario[i].giorno == giorni_settimana[data_cur.getDay()]) {
                ora_inizio = arrOrario[i].descrizione_slot.substring(0, 2);
                ora_fine = arrOrario[i].descrizione_slot.substring(6, 8);
                calendar.addEvent({
                  title: titolo_evento,
                  displayEventTime: true,
                  displayEventEnd: true,
                  start: data_cur.setHours(ora_inizio),
                  end: data_cur.setHours(ora_fine),
                  editable: true,
                  color: arrOrario[i].colore_attivita,
                  textColor: '#000000',
                  description: '<b>' + arrOrario[i].descrizione_attivita + '</b><br>'
                          + '<i>' + arrOrario[i].cognome_docente + ' ' + arrOrario[i].nome_docente + '</i>'
                });
              }
            }
          }
          calendar.addEvent({
              title:"",
              start:data_cur.setHours("13"),
              end:data_cur.setHours("14"),
              displayEventTime:false,
              editable:false,
              color:'#DDDDDD',
              textColor:'#000000',
              description:'Pausa lezioni'
            });
        }
      }

      calendar.render();
    }

    function download(content, fileName, contentType) {
      var a = document.createElement("a");
      var file = new Blob([content], {type: contentType});
      a.href = URL.createObjectURL(file);
      a.download = fileName;
      a.click();
    }

    function caricaAnni(arrAnni) {
      let idc=$('#corso_id option:selected').val();
      let anLen=arrAnni.length;
      $('#anno_corso').empty();
      for (var i=0; i<anLen; i++) {
          if (arrAnni[i].corso_id==idc) {
            $('#anno_corso').append(new Option(arrAnni[i].anno_corso, arrAnni[i].anno_corso));
          }
      }
    }

    function inizializza(arrAnni) {
      caricaAnni(arrAnni);
      let today = new Date();
      document.getElementById("data_avvio_lezioni").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
      document.getElementById("data_fine_lezioni").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
    }

    function aggiorna_data_fine(arrChiusure) {
      $("#data_fine_lezioni").val($("#data_avvio_lezioni").val());
    }

</script>
	
{% endblock %}