{% block content %}
<div class="modal fade" id="modal-info-w" tabindex="-1" role="dialog">"
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                <p id="info-title" {% if tipo == "success" %} style = "color:green"
                   			{% elif tipo == "error" %} style = "color:red"
                            {% else %} style = "color:black"
                   			{% endif %}></p>
                </h4>
            </div>
            <div class="modal-body">
                <div>
                	<h4 class="modal-text" id="info-msg"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-info-ok" onClick="redirect()">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
	{% if show %}
		$(document).ready(function(){
			$("#modal-alert-w").modal("show");
	    });
	{% endif %}
	
	function redirect() {
        //window.location.href="{{ return_page }}";
    }
</script>
{% endblock %}