{% extends "appbuilder/base.html" %}

{% block content %}	
	{% include "confirm_msg.html" %}	

	<div class="container">
	  <h2>Preferenze per la creazione dell'orario</h2>
		<form method="POST" action="/preferenzeview/prf_calc/genera_orario">
			<div>
				<p>Selezionare l'anno accademico dell'offerta formativa</p>
			</div>
			<div>
				<p>Di seguito sono elencati i vincoli applicati per la creazione dell'orario</p>
				<br>
				
				<p>VINCOLI OBBLIGATORI</p>	
				<label>
					<ul>
						<li>Non ci possono essere moduli insegnati dagli stessi docenti sovrapposti negli stessi slot orari
						<li>Non ci possono essere moduli dello stesso anno di corso sovrapposti negli stessi slot orari
						<li>L'aula assegnata al corso deve avere una capienza compatibile con il numero massimo di studenti per un dato anno di corso
						<li>L'aula assegnata al corso deve essere compatibile con il tipo di aula associata al modulo
					</ul>
				</label>
				
				<p>VINCOLI FACOLTATIVI</p>
				
				<input type="checkbox" name="chk_sessione_unica" id="sessione_unica" value="1">	
				<label for = "unica_sessione_giorno">
					Non devono essere consentite due sessioni dello stesso modulo nella stessa giornata
				</label>  	
				<br>
				<input type="checkbox" name="chk_slot_sessioni_consecutive" id="slot_sessioni_consecutive" value="1">	
				<label for = "sessione_stessa_aula">
					Le sessione di un giorno deve tenersi obbligatoriamente nella stessa aula ed in slot consecutivi
				</label>  	  		  
				<br>
				<input type="checkbox" name="chk_max_ore" value="1">
				<label for="chk_max_ore">Numero massimo di slot di lezioni da destinare in una settimana per ogni anno di corso</label>
				<select name="sel_max_ore">
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
	  			  <option value="11">11</option>
				  <option value="12">12</option>
				</select> 	
				<br>
				<input type="checkbox" name="chk_preferenze_docenti" value="1">	
				<label for = "preferenza_docenti">
					Devono essere considerate le indicazioni dei docenti
				</label>  	  		 
			</div>
      		<button type="submit" onclick="calcola_orario()" name="calc_orario">Calcola l'orario</button>  	  	
		</form>
	</div>
	
	<script>
		function calcola_orario() {
			window.location.href="{{url_for('PreferenzeView.prf_calc', target='genera_orario')}}";
		}
	</script>
{% endblock %}


