<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/watt.css">
</head>

{% extends "appbuilder/base.html" %}

{% block content %}	
	{% include "confirm_msg.html" %}	
	{% include "info_msg.html" %}	

	<div class="container">
	  <h2>Preferenze di calcolo</h2>
		<form id="form_post" method="post" action="{{url_for("GeneraOrarioView.prf_calc")}}">
			<div>
				<div id="loader" class="loader" style="display:none"></div>
				<br>
				<div class="panel panel-info">
					<div class="panel-heading">Scegli l"anno accademico ed il semestre di riferimento</div>
					<div class="panel-body">
					  Anno Accademico
					  <select name="aa" id="aa_select">
						{% for a in anni_accademici %}
						  <option value={{a.id}}>{{a.anno_esteso}}</option>
						{% endfor %}
					  </select>
					  Semestre
					  <select name="semestre" id="semestri_select">
					    {% for s in semestri %}
						  <option value={{s.semestre}}>{{s.semestre}}</option>
					    {% endfor %}
					  </select>
					</div>
				</div><br>

				<p class="bg-primary" align="center">VINCOLI PER IL CALCOLO DELLO SCHEMA ORARIO</p><br>
				<div class="panel panel-info">
				  <div class="panel-heading">Vincoli OBBLIGATORI</div>
				  <div class="panel-body">
					<ul>
						<li>Uno slot orario può essere assegnato ad un unico modulo per un dato giorno della settimana in una data aula</li>
						<li>Non devono essere assegnati allo stesso slot orario per un dato giorno due moduli di cui risulta titolare di insegnamento lo stesso docente</li>
						<li>Non devono essere assegnati allo stesso slot orario per un dato giorno due moduli di insegnamento dello stesso anno di corso (gli studenti destinatari dei corsi devono potenzialmente poter seguire tutti i corsi del proprio anno di iscrizione)</li>
						<li>Le aule assegnate ai moduli devono avere una capienza compatibile con il numero massimo di studenti attesi per l’anno di corso in cui l’insegnamento è collocato nel percorso di studio in esame</li>
						<li>L’aula assegnata al modulo deve essere di tipologia compatibile con quanto fissato nell’offerta didattica (aula normale, laboratorio informatico, altri tipi di laboratorio, etc.)</li>
					</ul>
				  </div>
				</div>
				<div class="panel panel-info">
				  <div class="panel-heading">Vincoli FACOLTATIVI</div>
				  <div class="panel-body">
					<input type="checkbox" name="chk_sessione_unica" id="chk_sessione_unica" value="1">
					<label for = "chk_sessione_unica">
						Non devono essere consentite due sessioni dello stesso modulo nella stessa giornata
					</label>
					<br>
					<input type="checkbox" name="chk_slot_sessioni_consecutive" id="chk_slot_sessioni_consecutive" value="1">
					<label for = "chk_slot_sessioni_consecutive">
						Le sessione di un giorno deve tenersi obbligatoriamente nella stessa aula ed in slot consecutivi
					</label>
					<br>
					<input type="checkbox" name="chk_max_ore" id="chk_max_ore" value="1">
					<label for="chk_max_ore">Non superare il massimo di slot di lezioni fissate in una settimana per ogni anno di corso</label>
					<select name="sel_max_ore">
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					  <option value="11">11</option>
					  <option value="12">12</option>
					</select>
					<br>
					<input type="checkbox" name="chk_preferenze_docenti" id="chk_preferenze_docenti" value="1">
					<label for = "chk_preferenze_docenti">
						Indicazioni dei docenti per inderogabili esigenze
					</label>
				  </div>
				</div>
			</div><br>

			<p class="bg-primary" align="center">DATI ORARIO IN GENERAZIONE</p><br>
			<label for="txt_desc_orario">Descrizione orario:</label>
  			<input type="text" id="txt_desc_orario" name="txt_desc_orario" size="80"><br><br>
			<button type="button" id="form_post" name="form_post" onclick="calcola_orario()" class="btn btn-primary">Calcola schema orario</button>
			<input type="text" id="target" name="target" value="" style="display:none">
		</form>
	</div>
	
	<script>
		function calcola_orario() {
			if ($("#txt_desc_orario").val().length > 0) {
				$("#loader").css({"display":"block"});
				$("#target").val("genera_orario");
				$("#form_post").submit();
			}
			else {
				$("#info-title").html("Completare i dati");
				$("#info-msg").html("E' necessario specificare una descrizione per lo schema orario che si intende creare");
				$(document).on("click", "#modal-info-ok", function () {});
				$("#modal-info-w").modal("show");
			}
		}
	</script>
	
{% endblock %}


