<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/watt.css"">
</head>

{% extends "appbuilder/base.html" %}

{% block content %}	
	{% include "confirm_msg.html" %}	
	{% include "info_msg.html" %}	

	<div class="container">
	  <h2>Preferenze di calcolo</h2>
		<form id="form_post" method="post" action="{{url_for('PreferenzeView.prf_calc', target='genera_orario')}}">
			<div>
				<div id="loader" class="loader" style="display:none"></div>
				<br>
				<div>
					Selezionare l'anno accademico dell'offerta formativa
					<select name="aa" id="aa_select">
					{% for a in anni_accademici %}
						<option value={{a.id}}>{{a.anno_esteso}}</option>
					{% endfor %}
					</select><br><br>
					Selezionare il semestre per cui si vuole calcolare l'orario settimanale
					<select name="semestre" id="semestri_select">
					{% for s in semestri %}
						<option value={{s.semestre}}>{{s.semestre}}</option>
					{% endfor %}
					</select>
				</div><br>
				<p class="bg-primary">VINCOLI PER IL CALCOLO DELLO SCHEMA ORARIO</p><br>
				<p class="bg-info">VINCOLI OBBLIGATORI</p><br>
				<label>
					<ul>
						<li>Non ci possono essere moduli insegnati dagli stessi docenti sovrapposti negli stessi slot orari</li>
						<li>Non ci possono essere moduli dello stesso anno di corso sovrapposti negli stessi slot orari</li>
						<li>L'aula assegnata al corso deve avere una capienza compatibile con il numero massimo di studenti per un dato anno di corso</li>
						<li>L'aula assegnata al corso deve essere compatibile con il tipo di aula associata al modulo</li>
					</ul>
				</label>
				<div class="bg-info">VINCOLI FACOLTATIVI</div><br>
				<input type="checkbox" name="chk_sessione_unica" id="sessione_unica" value="1">	
				<label for = "unica_sessione_giorno">
					Non devono essere consentite due sessioni dello stesso modulo nella stessa giornata
				</label>  	
				<br>
				<input type="checkbox" name="chk_slot_sessioni_consecutive" id="slot_sessioni_consecutive" value="1">	
				<label for = "sessione_stessa_aula">
					Le sessione di un giorno deve tenersi obbligatoriamente nella stessa aula ed in slot consecutivi
				</label>  	  		  
				<br>
				<input type="checkbox" name="chk_max_ore" value="1">
				<label for="chk_max_ore">Numero massimo di slot di lezioni da destinare in una settimana per ogni anno di corso</label>
				<select name="sel_max_ore">
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
	  			  <option value="11">11</option>
				  <option value="12">12</option>
				</select> 	
				<br>
				<input type="checkbox" name="chk_preferenze_docenti" value="1">	
				<label for = "preferenza_docenti">
					Devono essere considerate le indicazioni dei docenti
				</label>  	  		 
			</div><br>
			<label for="txt_desc_orario">Descrizione orario:</label>
  			<input type="text" id="txt_desc_orario" name="txt_desc_orario" size="80"><br><br>
			<button type="button" id="form_post" name="form_post" onclick="calcola_orario()" class="btn btn-primary">Calcola schema orario </button>  	  	
		</form>
	</div>
	
	<script>
		function calcola_orario() {
			if ($('#txt_desc_orario').val().length > 0) {
				$('#loader').css({'display':'block'});
				$('#form_post').submit();				
			}
			else {
				$('#info-title').html('Completare i dati');
				$('#info-msg').html('E\' necessario specificare una descrizione per lo schema orario che si intende creare');
				$(document).on('click', '#modal-info-ok', function () {
					
				});
				$('#modal-info-w').modal('show');
			}
		}
	</script>
	
{% endblock %}


