{% extends "appbuilder/base.html" %}

{% block content %}	
	{% include "confirm_msg.html" %}	

	<div class="container">
	  <h2>Preferenze di calcolo</h2>
		<form method="POST" action="/preferenzeview/prf_calc/genera_orario">
			<div>
				<br>
				<div>
					Selezionare l'anno accademico dell'offerta formativa
					<select name="aa" id="aa_select">
					{% for a in anni_accademici %}
						<option value={{a.anno}}>{{a.anno_esteso}}</option>
					{% endfor %}
					</select><br><br>
					Selezionare il semestre per cui si vuole calcolare l'orario settimanale
					<select name="semestre" id="semestri_select">
					{% for s in semestri %}
						<option value={{s.semestre}}>{{s.semestre}}</option>
					{% endfor %}
					</select>
				</div><br>
				<p class="bg-primary">VINCOLI PER IL CALCOLO DELLO SCHEMA ORARIO</p><br>
				<p class="bg-info">VINCOLI OBBLIGATORI</p><br>
				<label>
					<ul>
						<li>Non ci possono essere moduli insegnati dagli stessi docenti sovrapposti negli stessi slot orari</li>
						<li>Non ci possono essere moduli dello stesso anno di corso sovrapposti negli stessi slot orari</li>
						<li>L'aula assegnata al corso deve avere una capienza compatibile con il numero massimo di studenti per un dato anno di corso</li>
						<li>L'aula assegnata al corso deve essere compatibile con il tipo di aula associata al modulo</li>
					</ul>
				</label>
				<div class="bg-info">VINCOLI FACOLTATIVI</div><br>
				<input type="checkbox" name="chk_sessione_unica" id="sessione_unica" value="1">	
				<label for = "unica_sessione_giorno">
					Non devono essere consentite due sessioni dello stesso modulo nella stessa giornata
				</label>  	
				<br>
				<input type="checkbox" name="chk_slot_sessioni_consecutive" id="slot_sessioni_consecutive" value="1">	
				<label for = "sessione_stessa_aula">
					Le sessione di un giorno deve tenersi obbligatoriamente nella stessa aula ed in slot consecutivi
				</label>  	  		  
				<br>
				<input type="checkbox" name="chk_max_ore" value="1">
				<label for="chk_max_ore">Numero massimo di slot di lezioni da destinare in una settimana per ogni anno di corso</label>
				<select name="sel_max_ore">
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
	  			  <option value="11">11</option>
				  <option value="12">12</option>
				</select> 	
				<br>
				<input type="checkbox" name="chk_preferenze_docenti" value="1">	
				<label for = "preferenza_docenti">
					Devono essere considerate le indicazioni dei docenti
				</label>  	  		 
			</div><br>
	 		<button type="submit" onclick="calcola_orario()" name="calc_orario" class="btn btn-primary">Calcola schema orario</button>  	  	
		</form>
	</div>
	
	<script>
		function calcola_orario() {
			window.location.href="{{url_for('PreferenzeView.prf_calc', target='genera_orario')}}";
		}
	</script>
	
{% endblock %}


