{% block content %}
<div class="modal fade" id="modal-room-w" tabindex="-1" role="dialog">"
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                <p id=room-title></p>
                </h4>
            </div>
            <div class="modal-body">
                <div>
                	<h4 class="modal-text" id="msg"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger danger" data-dismiss="modal" id="modal-room-ok">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}