{% extends "appbuilder/base.html" %}

{% block content %}	
	{% include "confirm_msg.html" %}	
	
<html>
	<head>
  		<meta charset='utf-8' />	
	   	   <div style="overflow-x:auto;">
		     <h2 class="bg-warning" style="text-align: center;">Schema orario settimanale</h2>
	  		 <table class="table">
			  <tbody>
			    {% for s in slot %}
				<thead>
			      <tr>
				    <th scope="col">Slot orario</th>
				  	<th scope="col">Lunedì</th>
				  	<th scope="col">Martedì</th>
				  	<th scope="col">Mercoledì</th>
				  	<th scope="col">Giovedì</th>
				  	<th scope="col">Venerdì</th>
				  	</tr>
			    </thead>
	            <tr>
			      <th scope="row">{{s.descrizione}}</th>
			      	<td>
				      {% for o in orario %}
				      	{% if o.giorno == "Lunedì" %}
						  {% if o.slot_id == s.id %}
				      	     <div style="color:{{o.colore_corso}};">
				      	    	<b>Corso: {{o.codice_corso}} - Anno: {{o.anno_corso}}<br>
								   [{{o.codice_attivita}}] - {{o.descrizione_attivita}}<br>
								   {{o.descrizione_modulo}} ({{o.numerosita_modulo}})</b><br>
								<div style="color:black;">
									Docente: {{o.nome_docente}} {{o.cognome_docente}}<br>
									<b>{{o.aula}} ({{o.capienza_aula}})</b><br>
								</div>
				            	<span style="color:black;">--------------------------</span>
				             </div>
				          {% endif %}
				        {% endif %}
				      {% endfor %}
				    </td>
				    <td>
				      {% for o in orario %}
				      	{% if o.giorno == "Martedì" %}
				      	  {% if o.slot_id == s.id %}
				      	     <div style="color:{{o.colore_corso}};">
				      	    	<b>Corso: {{o.codice_corso}} - Anno: {{o.anno_corso}}<br>
								   [{{o.codice_attivita}}] - {{o.descrizione_attivita}}<br>
								   {{o.descrizione_modulo}} ({{o.numerosita_modulo}})</b><br>
								<div style="color:black;">
									Docente: {{o.nome_docente}} {{o.cognome_docente}}<br>
									<b>{{o.aula}} ({{o.capienza_aula}})</b><br>
								</div>
				            	<span style="color:black;">--------------------------</span>
				             </div>
				          {% endif %}
				        {% endif %}
				      {% endfor %}
				    </td>
				    <td>
				      {% for o in orario %}
				      	{% if o.giorno == "Mercoledì" %}
				      	  {% if o.slot_id == s.id %}
				      	     <div style="color:{{o.colore_corso}};">
				      	    	<b>Corso: {{o.codice_corso}} - Anno: {{o.anno_corso}}<br>
								   [{{o.codice_attivita}}] - {{o.descrizione_attivita}}<br>
								   {{o.descrizione_modulo}} ({{o.numerosita_modulo}})</b><br>
								<div style="color:black;">
									Docente: {{o.nome_docente}} {{o.cognome_docente}}<br>
									<b>{{o.aula}} ({{o.capienza_aula}})</b><br>
								</div>
				            	<span style="color:black;">--------------------------</span>
				             </div>
				          {% endif %}
				        {% endif %}
				      {% endfor %}
				    </td>
				    <td>
				      {% for o in orario %}
				      	{% if o.giorno == "Giovedì" %}
				      	  {% if o.slot_id == s.id %}
				      	     <div style="color:{{o.colore_corso}};">
				      	    	<b>Corso: {{o.codice_corso}} - Anno: {{o.anno_corso}}<br>
								   [{{o.codice_attivita}}] - {{o.descrizione_attivita}}<br>
								   {{o.descrizione_modulo}} ({{o.numerosita_modulo}})</b><br>
								<div style="color:black;">
									Docente: {{o.nome_docente}} {{o.cognome_docente}}<br>
									<b>{{o.aula}} ({{o.capienza_aula}})</b><br>
								</div>
				            	<span style="color:black;">---------------------------</span>
				             </div>
				          {% endif %}
				        {% endif %}
				      {% endfor %}
				    </td>
				    <td>
				      {% for o in orario %}
				      	{% if o.giorno == "Venerdì" %}
				      	  {% if o.slot_id == s.id %}
				      	     <div style="color:{{o.colore_corso}};">
				      	    	<b>Corso: {{o.codice_corso}} - Anno: {{o.anno_corso}}<br>
								   [{{o.codice_attivita}}] - {{o.descrizione_attivita}}<br>
								   {{o.descrizione_modulo}} ({{o.numerosita_modulo}})</b><br>
								<div style="color:black;">
									Docente: {{o.nome_docente}} {{o.cognome_docente}}<br>
									<b>{{o.aula}} ({{o.capienza_aula}})</b><br>
								</div>
				            	<span style="color:black;">--------------------------</span>
				             </div>
				          {% endif %}
				        {% endif %}
				      {% endfor %}
				    </td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		  </div>
	</head>
</html>
	
{% endblock %}