<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/watt.css">
</head>

{% extends "appbuilder/base.html" %}

{% block content %}
{% include "confirm_msg.html" %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<div class="container">
    <form method="post" id="form_post" method="post" action="{{url_for('UtilitaEsse3View.srv_esse3_util')}}">
        <div id="loader" class="loader" style="display:none"></div>
        <h3>Carica i dati dalla procedura di gestione delle carriere studenti (Esse3)</h3>
        <br>
        <h4 class="par_title">Step 1</h4>
        <div>
            <button type="button" class="btn btn-primary" onclick="caricaAnniAccademici()">
                Carica gli A.A. per cui è disponibile un'offerta formativa
            </button>
            <br><br>
            <select name="anniAccademici" id="anniAccademici">
                $('#anniAccademici).empty()
                {% for a in anniAccademici %}
                {% if a == annoAccademicoSelezionato|int %}
                <option selected="selected" value={{a}}>{{a}}/{{a+1}}</option>
                {% else %}
                <option value={{a}}>{{a}}/{{a+1}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>
        <h4 class="par_title">Step 2</h4>
        <div>
            <button type="button" class="btn btn-primary" onclick="caricaCorsiInOfferta()">
                Carica i corsi in offerta formativa per l'A.A. selezionato
            </button>
            <br><br>
            <select name="corsi" id="corsi" class="selectpicker" data-none-selected-text="Nessun corso selezionato" multiple data-live-search="true">
                {% for c in corsiInOfferta %}
                <option value={{c["idCorso"]}}>{{c["codCorso"]}} - {{c["desCorso"]}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <h4 class="par_title">Step 3</h4>
        <h4>Effettua le seguenti scelte prima di caricare i dati dei corsi (Esse3)</h4>
        <div>
            <label>Seleziona il semestre di riferimento</label><br>
            <input type="radio" id="semestre1" name="semestre" value=1 checked>
            <label for="semestre1">Primo semestre</label>
            <input type="radio" id="semestre2" name="semestre" value=2>
            <label for="semestre2">Secondo semestre</label>
            <br><br>
            <label>Selezionare la politica di gestione per i dati già presenti in DB</label><br>
            <input type="checkbox" name="cbSovrDatiCorsi" id="cbSovrDatiCorsi" value="1">
            <label for = "cbSovrDatiCorsi"> Aggiorna i dati dei corsi già presenti in DB </label>
            <br>
            <input type="checkbox" name="cbSovrDatiAD" id="cbSovrDatiAD" value="1">
            <label for = "cbSovrDatiAD"> Aggiorna i dati delle attività didattiche già presenti in DB </label>
            <br>
            <input type="checkbox" name="cbSovrDatiDocenti" id="cbSovrDatiDocenti" value="1">
            <label for = "cbSovrDatiDocenti"> Aggiorna i dati dei docenti già presenti in DB </label>
            <br><br>
            <input type="checkbox" name="cbSovrDatiOfferta" id="cbSovrDatiOfferta" value="1">
            <label for = "cbSovrDatiOfferta"> Sostuisci l'offerta formativa per i corsi selezionati eventualmente già presente in DB</label>
            <label>(Nel caso non sia selezionata questa opzione offerte per i corsi selezionati eventualmente già presenti in DB non saranno assolutamente modificate)</label>
        </div>
        <br>
        <h4 class="par_title">Step 4</h4>
        <div>
            <button type="button" class="btn btn-primary" onclick="caricaDatiCorsi()">
                Carica i dati per i corsi selezionati
            </button>
        </div>
        <input type="text" id="target" name="target" value="" style="display:none">
    </form>
</div>

<script>
    function inizializzaDB() {
        $('#title').html('Richiesta di conferma');
        $('#msg').html('Si intende realmente inizializzare il database con i dati di test?');
        $(document).on('click', '#modal-confirm-ok', function () {
            $('#target').val('inizializzaDB');
            $('#loader').css({'display':'block'});
            $('#form_post').submit();
        });
        $('#modal-confirm-w').modal('show');
    }

    function svuotaDB() {
        $('#title').html('Richiesta di conferma');
        $('#msg').html('Si intende realmente svuotare il database?');
        $(document).on('click', '#modal-confirm-ok', function () {
            $('#target').val('svuotaDB');
            $('#form_post').submit();
        });
        $('#modal-confirm-w').modal('show');
    }

    function caricaAnniAccademici() {
        $('#target').val('caricaAnniAccademici');
        $('#loader').css({'display':'block'});
        $('#form_post').submit();
    }

    function caricaCorsiInOfferta() {
        $('#target').val('caricaCorsiOffertaFormativa');
        $('#loader').css({'display':'block'});
        $('#form_post').submit();
    }

    function caricaDatiCorsi() {
        $('#target').val('caricaDatiCorsi');
        $('#loader').css({'display':'block'});
        $('#form_post').submit();
    }
</script>

{% endblock %}
