<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/watt.css">
</head>

{% extends "appbuilder/base.html" %}

{% block content %}	
	{% include "confirm_msg.html" %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <div class="container">
		<form method="post" id="form_post" method="post" action="{{url_for('UtilitaView.srv_util')}}">
			<div id="loader" class="loader" style="display:none"></div>
			<h4>Utility functions</h4>
			<div>
				<button type="button" class="btn btn-primary" onclick="empty_db()">Empty the db</button>
			</div>
			<br>
			<h4>Empty the db and load the test data</h4>
			<div>
				<button type="button" class="btn btn-primary" onclick="init_db()">Empty and load data</button>
			</div>
			<br>
			<h4>Upload data from the student career management procedure (Esse3)</h4>
			<div>
				<button type="button" class="btn btn-primary" onclick="load_academic_years()">
					Load the academic years for which there is a training offer in the database
				</button>
				<br><br>
				<select name="academicYears" id="academicYears">
					$('#academicYears).empty()
					{% for a in academicYears %}
						{% if a == selectedAcademicYear|int %}
							<option selected="selected" value={{a}}>{{a}}/{{a+1}}</option>
						{% else %}
							<option value={{a}}>{{a}}/{{a+1}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<br>
			<div>
				<button type="button" class="btn btn-primary" onclick="load_educational_offer()">
					Load the educational offer for the selected year
				</button>
				<br><br>
				<select name="courses" id="courses" class="selectpicker" multiple data-live-search="true">
					{% for e in educationalOffer %}
						<option value={{e["courseId"]}}>{{e["courseCod"]}} - {{e["courseDes"]}}</option>
					{% endfor %}
				</select>
			</div>
			<br>
			<div>
				<button type="button" class="btn btn-primary" onclick="load_course_data()">
					Upload the data of the selected courses
				</button>
			</div>
			<input type="text" id="target" name="target" value="" style="display:none">
		</form>
	</div>
	
	<script>	
	function init_db() {
		$('#title').html('Richiesta di conferma');
		$('#msg').html('Si intende realmente inizializzare il database con i dati di test?');
		$(document).on('click', '#modal-confirm-ok', function () {
			$('#target').val('initdb');
			$('#loader').css({'display':'block'});
			$('#form_post').submit();
        });
		$('#modal-confirm-w').modal('show');
	}	
	
	function empty_db() {
		$('#title').html('Richiesta di conferma');
		$('#msg').html('Si intende realmente svuotare il database?');
		$(document).on('click', '#modal-confirm-ok', function () {
			$('#target').val('emptydb');
			$('#form_post').submit();
        });
		$('#modal-confirm-w').modal('show');
	}

	function load_academic_years() {
		$('#target').val('load_academic_years');
		$('#loader').css({'display':'block'});
		$('#form_post').submit();
	}

	function load_educational_offer() {
		$('#target').val('load_educational_offer');
		$('#form_post').submit();
	}

	function load_course_data() {
		$('#target').val('load_course_data');
		$('#form_post').submit();
	}
	</script>

{% endblock %}
