<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/watt.css">
</head>

{% extends "appbuilder/base.html" %}

{% block content %}	
	{% include "confirm_msg.html" %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <div class="container">
		<form method="post" id="form_post" method="post" action="{{url_for('UtilitaView.srv_util')}}">
			<div id="loader" class="loader" style="display:none"></div>
			<h4>Funzioni di utilità</h4>
			<div>
				<button type="button" class="btn btn-primary" onclick="svuotaDB()">Svuota il DB</button>
			</div>
			<br>
			<h4>Carica dati di test - TIPO 1 - (7 Corsi di Studio e 1 Modulo per ogni Attività Didattica)</h4>
			<div>
				<button type="button" class="btn btn-primary" onclick="caricaDatiTest7Cds1Mod()">Carica i dati di test per 7 corsi e un solo modulo per ogni AD offerta</button>
			</div>
			<br>
			<h4>Carica dati di test - TIPO 2 - (7 Corsi di Studio e Moduli multipli per ogni Attività Didattica)</h4>
			<div>
				<button type="button" class="btn btn-primary" onclick="caricaDatiTest7CdsNMod()">Carica i dati di test per 7 corsi e moduli multipli per ogni AD offerta</button>
			</div>
			<br>
			<h4>Svuota il DB e carica dati di test (Giorni, Slot, AuleAttività Didattiche, Docenti, Offerta, Moduli) </h4>
			<div>
				<button type="button" class="btn btn-primary" onclick="inizializzaAllDB()">Svuota il DB e carica di test</button>
			</div>
			<input type="text" id="target" name="target" value="" style="display:none">
		</form>
	</div>
	
	<script>
	function svuotaDB() {
		$('#title').html('Richiesta di conferma');
		$('#msg').html('Si intende realmente svuotare il database?');
		$(document).on('click', '#modal-confirm-ok', function () {
			$('#target').val('svuotaDB');
			$('#form_post').submit();
        });
		$('#modal-confirm-w').modal('show');
	}

	function caricaDatiTest7Cds1Mod() {
		$('#title').html('Richiesta di conferma');
		$('#msg').html("Si intende realmente inizializzare il database con i dati di test con 7 cds e 1 modulo per attività didattica offerta?");
		$(document).on('click', '#modal-confirm-ok', function () {
			$('#target').val('carica7Cds1Mod');
			$('#loader').css({'display':'block'});
			$('#form_post').submit();
        });
		$('#modal-confirm-w').modal('show');
	}

	function caricaDatiTest7CdsNMod() {
		$('#title').html('Richiesta di conferma');
		$('#msg').html("Si intende realmente inizializzare il database con i dati di test con 7 cds e moduli multipli per attività didattica offerta?");
		$(document).on('click', '#modal-confirm-ok', function () {
			$('#target').val('carica7CdsNMod');
			$('#loader').css({'display':'block'});
			$('#form_post').submit();
        });
		$('#modal-confirm-w').modal('show');
	}

	function inizializzaAllDB() {
		$('#title').html('Richiesta di conferma');
		$('#msg').html('Si intende realmente inizializzare il database con i dati completi di test?');
		$(document).on('click', '#modal-confirm-ok', function () {
			$('#target').val('inizializzaAllDB');
			$('#loader').css({'display':'block'});
			$('#form_post').submit();
        });
		$('#modal-confirm-w').modal('show');
	}	
	</script>

{% endblock %}
